.question-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/blue-blob-smaller.png), url(../../assets/yellow-blob-smaller.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    height: 100vh; 
}

.question {
    border-bottom: 0.79px solid #DBDEF0;
    padding: 15px 0px;
    margin: 0px 50px;
    width: calc(100vw - 100px);
}

.question > h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.answer-container > button {
    border-radius: 7.94px;
    border: none;
    font-size: 0.64rem;
    padding: 3px 10px;
    min-width: 65.92px;
    cursor: pointer;
}

.answer-container > .unselected {
    background-color: #F5F7FB;
    border: 0.79px solid #4D5B9E;
    color: #293264;
}

.answer-container > .selected {
    background-color: #D6DBF5;
}

.answer-container > .correct {
    cursor: not-allowed;
    background-color: #94D7A2;
    color: #293264;
}

.answer-container > .incorrect {
    cursor: not-allowed;
    background-color: #F8BCBC;
}

.answer-container > .unselected:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.check-answer-button {
    background-color: #4D5B9E;
    border-radius: 10px;
    border: none;
    color: #F5F7FB;
    font-weight: 600;
    font-size: 0.64rem;
    width: 120px;
    min-height: 35px;
    margin-top: 25px;
    cursor: pointer;
}

.game-finished-status {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.game-finished-status > h2 {
    font-weight: 700;
    font-size: 0.8rem;
}

.game-finished-status > button {
    height: 30px;
    width: 104px;
    background-color: #4D5B9E;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 0.64rem;
    color: #F5F7FB;
    cursor: pointer;
}